function Area.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push constant 3
pop this 4
push pointer 0
return
function Area.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Area.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 4
add
push this 1
push this 4
add
push this 0
push this 2
add
push this 4
sub
push this 1
push this 3
add
push this 4
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Area.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Area.shrink 0
push argument 0
pop pointer 0
push pointer 0
call Area.hide 1
pop temp 0
push this 2
push constant 80
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 140
pop this 0
push constant 60
pop this 1
push constant 210
pop this 2
push constant 120
pop this 3
push pointer 0
call Area.show 1
pop temp 0
push constant 1
return
goto IF_END0
label IF_FALSE0
push this 3
push constant 60
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 6
add
pop this 0
push this 2
push constant 12
sub
pop this 2
goto IF_END1
label IF_FALSE1
push this 0
push constant 6
add
pop this 0
push this 1
push constant 2
add
pop this 1
push this 2
push constant 12
sub
pop this 2
push this 3
push constant 4
sub
pop this 3
label IF_END1
push pointer 0
call Area.show 1
pop temp 0
push constant 0
return
label IF_END0
function Area.getLeft 0
push argument 0
pop pointer 0
push this 0
push this 4
add
return
function Area.getRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push this 4
sub
return
function Area.getTop 0
push argument 0
pop pointer 0
push this 1
push this 4
add
return
function Area.getBottom 0
push argument 0
pop pointer 0
push this 1
push this 3
add
push this 4
sub
return
