function Cube.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Cube.update 0
push argument 0
pop pointer 0
push this 0
push this 3
sub
pop this 0
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push pointer 0
call Cube.draw 1
pop temp 0
push constant 0
return
function Cube.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 2
add
push this 0
push this 2
add
push constant 2
sub
push this 1
push this 2
add
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Cube.getCoordX 0
push argument 0
pop pointer 0
push this 0
return
function Cube.getCoordY 0
push argument 0
pop pointer 0
push this 1
return
function Cube.getSize 0
push argument 0
pop pointer 0
push this 2
return
function Cube.copy 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
push this 3
call Cube.new 4
return
function Cube.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
