function DoodleSpriteBlackRight.draw 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 11
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 12
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 12
add
push argument 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 13
add
push argument 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 8
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 9
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 2
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 25
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 23
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 28
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 28
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 6
add
push argument 1
push constant 23
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 22
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 23
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 7
add
push argument 1
push constant 28
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 22
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 8
add
push argument 1
push constant 28
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 22
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 9
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 22
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 23
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 11
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 11
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 11
add
push argument 1
push constant 23
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 11
add
push argument 1
push constant 25
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 12
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 13
add
push argument 1
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 13
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 13
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 14
add
push argument 1
push constant 25
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 8
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 9
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 25
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 15
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 16
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 16
add
push argument 1
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 16
add
push argument 1
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 16
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 16
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 16
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 17
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 17
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 17
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 18
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 18
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 18
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 18
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 19
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 19
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 19
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 19
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 19
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 20
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 20
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 21
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 21
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 22
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 22
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 22
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 23
add
push argument 1
push constant 9
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 23
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 23
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 24
add
push argument 1
push constant 8
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 24
add
push argument 1
push constant 9
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 24
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 24
add
push argument 1
push constant 26
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 24
add
push argument 1
push constant 27
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 25
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 4
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 25
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 6
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 5
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 7
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 8
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 9
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 26
add
push argument 1
push constant 25
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 9
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 10
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 11
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 27
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 28
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 28
add
push argument 1
push constant 12
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 28
add
push argument 1
push constant 22
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 28
add
push argument 1
push constant 23
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 28
add
push argument 1
push constant 24
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 16
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 13
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 14
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 15
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 20
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 21
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 29
add
push argument 1
push constant 22
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 30
add
push argument 1
push constant 17
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 30
add
push argument 1
push constant 18
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push constant 30
add
push argument 1
push constant 19
add
call Screen.drawPixel 2
pop temp 0
push constant 0
return
