function PlatformManager.new 1
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop local 0
push constant 10
call Array.new 1
pop this 0
push constant 245
pop this 1
push constant 0
pop this 3
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call PlatformManager.generateRandomPlatform 1
pop temp 0
push pointer 0
return
function PlatformManager.isPlatformStill 0
push argument 0
pop pointer 0
push constant 0
push constant 10
push this 3
sub
call LCGRandom.randRange 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
not
return
function PlatformManager.generateRandomPlatform 0
push argument 0
pop pointer 0
label WHILE_EXP0
push this 1
push constant 13
gt
not
if-goto WHILE_END0
push pointer 0
push this 2
call PlatformManager.updatePlatformIndex 2
pop this 2
push this 2
push this 0
add
push constant 130
push constant 342
call LCGRandom.randRange 2
push this 1
push pointer 0
call PlatformManager.isPlatformStill 1
call Platform.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 10
push constant 100
call LCGRandom.randRange 2
sub
pop this 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function PlatformManager.updatePlatformIndex 0
push argument 0
pop pointer 0
push argument 1
push constant 1
add
push constant 9
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 1
add
push constant 10
call LCGRandom.mod 2
return
label IF_FALSE0
push argument 1
push constant 1
add
return
function PlatformManager.updatePosition 0
push argument 0
pop pointer 0
push this 1
push argument 1
sub
pop this 1
push constant 0
return
function PlatformManager.movePlatforms 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 0
eq
not
push local 1
push argument 1
call Platform.outOfScreen 2
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Platform.erase 1
pop temp 0
push local 1
call Platform.dispose 1
pop temp 0
push local 0
push this 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END1
label IF_FALSE1
push local 1
push argument 1
call Platform.move 2
pop temp 0
label IF_END1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push argument 1
call PlatformManager.updatePosition 2
pop temp 0
push constant 0
return
function PlatformManager.collideAndReconstruct 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 1
push argument 1
push argument 2
push argument 3
push argument 4
call Platform.checkCollide 5
call Platform.reconstruct 2
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function PlatformManager.platformToLand 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 256
pop local 1
push constant 1
neg
pop this 4
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push argument 1
push argument 2
push argument 3
push argument 4
call Platform.checkContact 5
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 2
call Platform.getSurface 1
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
call Platform.getSurface 1
pop local 1
push local 0
pop this 4
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function PlatformManager.updateLevel 1
push argument 0
pop pointer 0
push argument 1
push constant 1000
call Math.divide 2
pop local 0
push local 0
push constant 10
call Math.min 2
pop this 3
push constant 0
return
function PlatformManager.getLandingPlatformIndex 0
push argument 0
pop pointer 0
push this 4
return
function PlatformManager.getPlatformObjectByIndex 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
