function Platform.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 3
push pointer 0
call Platform.draw 1
pop temp 0
push pointer 0
push argument 2
call Platform.initSpeed 2
pop temp 0
push pointer 0
call Platform.setUpSpring 1
pop temp 0
push pointer 0
return
function Platform.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Platform.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 40
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Platform.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 40
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Platform.checkCollide 6
push argument 0
pop pointer 0
push this 0
push constant 40
add
push argument 1
sub
push constant 1
add
pop local 0
push argument 2
push this 0
sub
push constant 1
add
pop local 1
push local 0
push local 1
call Math.max 2
pop local 2
push this 1
push constant 3
add
push argument 3
sub
push constant 1
add
pop local 3
push argument 4
push this 1
sub
push constant 1
add
pop local 4
push local 3
push local 4
call Math.max 2
pop local 5
push local 2
push argument 2
push argument 1
sub
push constant 1
add
push constant 41
add
lt
push local 5
push argument 4
push argument 3
sub
push constant 1
add
push constant 4
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 2
push constant 0
not
return
label IF_FALSE0
push constant 0
pop this 2
push constant 0
return
function Platform.checkContact 0
push argument 0
pop pointer 0
push this 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
call Platform.checkCollide 5
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function Platform.setReconstruct 0
push argument 0
pop pointer 0
push constant 0
not
pop this 3
push constant 0
return
function Platform.resetReconstruct 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
return
function Platform.reconstruct 0
push argument 0
pop pointer 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Platform.setReconstruct 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Platform.draw 1
pop temp 0
push pointer 0
call Platform.resetReconstruct 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Platform.getSurface 0
push argument 0
pop pointer 0
push this 1
return
function Platform.outOfScreen 0
push argument 0
pop pointer 0
push this 1
push argument 1
sub
push constant 3
add
push constant 255
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Platform.initSpeed 0
push argument 0
pop pointer 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
push constant 0
return
label IF_FALSE0
push constant 0
push constant 1
call LCGRandom.randRange 2
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 5
neg
pop this 4
goto IF_END1
label IF_FALSE1
push constant 5
pop this 4
label IF_END1
push constant 0
return
function Platform.setUpSpring 0
push argument 0
pop pointer 0
push constant 0
push constant 3
call LCGRandom.randRange 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 5
goto IF_END0
label IF_FALSE0
push constant 0
pop this 5
label IF_END0
push constant 0
return
function Platform.hasSpring 0
push argument 0
pop pointer 0
push this 5
return
function Platform.changeDirection 0
push argument 0
pop pointer 0
push argument 1
push constant 130
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
neg
pop this 4
push constant 130
return
label IF_FALSE0
push argument 1
push constant 342
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
neg
pop this 4
push constant 342
return
label IF_FALSE1
push argument 1
return
function Platform.move 0
push argument 0
pop pointer 0
push pointer 0
call Platform.erase 1
pop temp 0
push this 1
push argument 1
sub
pop this 1
push pointer 0
push this 0
push this 4
add
call Platform.changeDirection 2
pop this 0
push pointer 0
call Platform.draw 1
pop temp 0
push constant 0
return
