function UI.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 200
pop this 1
push constant 0
pop this 2
push argument 0
pop this 3
push pointer 0
return
function UI.update 0
push argument 0
pop pointer 0
push argument 1
push this 1
call Math.multiply 2
push this 3
call Math.divide 2
pop this 2
push this 2
push this 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
pop this 2
label IF_FALSE0
push constant 1
push constant 1
call Output.moveCursor 2
pop temp 0
push pointer 0
push constant 5
push constant 2
push constant 10
call UI.drawProgressBar 4
pop temp 0
push constant 0
return
function UI.drawProgressBar 5
push argument 0
pop pointer 0
push argument 1
pop local 3
push argument 2
pop local 4
push constant 512
push constant 2
call Math.divide 2
push constant 1
sub
push this 1
push constant 2
call Math.divide 2
sub
pop local 0
push this 2
push local 0
add
pop local 1
push argument 3
pop local 2
push local 0
push constant 2
push local 4
call Math.multiply 2
sub
push local 2
push constant 2
push local 4
call Math.multiply 2
sub
push local 0
push this 1
add
push constant 2
push local 4
call Math.multiply 2
add
push local 2
push local 3
add
push constant 2
push local 4
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 4
sub
push local 2
push local 4
sub
push local 0
push this 1
add
push local 4
add
push local 2
push local 3
add
push local 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 2
push local 1
push local 2
push local 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function UI.drawAttempt 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 32655
call Memory.poke 2
pop temp 0
push constant 0
return
function UI.addAttempt 0
push argument 0
pop pointer 0
push this 0
push constant 1
add
pop this 0
push constant 0
return
